$ebp-tt-header-height: 47px!default;
$ebp-tt-default-col-width: 4em;

.ebp-tt-container {
  height: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  col {
    width: $ebp-tt-default-col-width;
    &.ebp-tt-index-col {
      width: 2em;
    }
  }
}

.ebp-tt-header-wrapper {
  color: #666;
  table {
    //width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    th.columnheader {
      background-color: #f2f3f3;
      height: $ebp-tt-header-height;
      border: #CCCCCC solid;
      border-width: 0 1px 1px 0;
      padding-left: 1.286em;
      &:last-child {
        border-right-width: 0;
      }
    }
  }
}

.ebp-tt-content-wrapper {
  overflow: auto;
  height: calc(100% - #{$ebp-tt-header-height});
  color: #707070;
  table {
    //width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    td {
      height: 45px;
      padding-left: 1.286em;
      background-color: #FFFFFF;
      border: #E6E6E6 solid;
      border-width: 0 1px 1px 0;
      &:last-child     {
        border-right-width: 0;
      }
    }
    tr:last-child > td {
      border-bottom: none;
    }

    tr {
      &:nth-child(odd) > td {
        background-color: #F9F9F9;
      }
    }
  }
}

.ebp-tt-index-cell {
  background-color: #f0f0f0!important;
  padding-left: 0!important;
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
  text-align: center;
  font-size: 12px;
}