<div class="ebp-tt-header">
    <div class="ebp-tt-header-wrapper">
        <table>
            <colgroup>
                <col class="ebp-tt-index-col"/>
                <col/>
                <col ng-repeat="col in $ebpTreeTable.colDefs" ng-style="{width: col.width+'px'}" />
            </colgroup>
            <thead>
            <tr>
                <th class="columnheader ebp-tt-index-cell"></th>
                <th class="columnheader">编号</th>
                <th class="columnheader" ng-repeat="col in $ebpTreeTable.colDefs">
                    {{col.title}}
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="ebp-tt-content-wrapper">
    <table>
        <colgroup>
            <col class="ebp-tt-index-col"/>
            <col/>
            <col ng-repeat="col in $ebpTreeTable.colDefs" ng-style="{width: col.width+'px'}" />
        </colgroup>
        <tbody>
        <!--<tr ebp-treetable-node ng-repeat="node in $ebpTreeTable.data track by node.id">-->
            <!--<td class="ebp-tt-index-cell">{{::$index + 1}}</td>-->
            <!--<td>3</td>-->
            <!--<td ebp-treetable-cell ng-repeat="col in $ebpTreeTable.colDefs">-->
                <!--{{::node[col.name]}}-->
            <!--</td>-->
        <!--</tr>-->
        </tbody>
    </table>
</div>